body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

/* MTA Blue Navbar */
.mta-navbar {
    background-color: #0039A6; /* MTA Blue */
}


#hero {
    background: url('img1.png') center center/cover no-repeat;
    height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: center;      /* vertical centering */
    align-items: flex-start;      /* move items to the left */
    padding-left: 50px;           /* spacing from left edge */
    color: white;
    text-align: left;             /* left-align text inside container */
    text-shadow: 2px 2px 6px #000;
}

#hero h1 {
    font-size: 6rem;              /* bigger title */
    margin: 0;
}

#hero p {
    font-size: 1.2rem;              /* bigger subtitle */
    margin: 15px 0 25px 0;
}

#hero .btn {
    font-size: 1.5rem;
    padding: 12px 30px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

#hero .btn:hover {
    background-color: #0056b3;
}


/* Navbar */
.navbar {
    padding: 1rem 2rem;
}
.navbar-brand {
    font-size: 1.8rem;
}

/* Cards */
.card i {
    color: #0d6efd; /* Bootstrap primary blue */
}

/* Sections */
section {
    padding: 80px 0;
}

h2 {
    text-align: center;
}

/* Footer */
footer {
    font-size: 1rem;
     background-color: #0039A6; /* MTA Blue */
}













