body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

/* MTA Blue Navbar */
.mta-navbar {
    background-color: #0039A6; /* MTA Blue */
}


/* Hero Section */
#hero {
    background: url('bus-hero.jpg') center center/cover no-repeat;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-shadow: 2px 2px 4px #000;
}

/* Navbar */
.navbar {
    padding: 1rem 2rem;
}
.navbar-brand {
    font-size: 1.8rem;
}

/* Cards */
.card i {
    color: #0d6efd; /* Bootstrap primary blue */
}

/* Sections */
section {
    padding: 80px 0;
}

h2 {
    text-align: center;
}

/* Footer */
footer {
    font-size: 1rem;
     background-color: #0039A6; /* MTA Blue */
}













